<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конструктор</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>       
</head>
<body class="constructor-page">   
<main>            
    <div class="container_12">
        <div class="grid_12">
            <div id="constructor" class="constructor-block">
                <div class="cb-top-line">
                    <div v-bind:class="cbitemstyle1" class="cb-step" data-step="cb-item1" id="cb-step1">
                        <p>
                            <span>1</span>
                            Изображение
                        </p>
                    </div>
                    <div v-bind:class="cbitemstyle2" class="cb-step" data-step="cb-item2" id="cb-step2">
                        <p>
                            <span>2</span>
                            Рама
                        </p>
                    </div>
                    <div v-bind:class="cbitemstyle3" class="cb-step" data-step="cb-item3" id="cb-step3">
                        <p> 
                            <span>3</span>
                            Заголовок
                        </p>
                    </div>
                    <div v-bind:class="cbitemstyle4" class="cb-step" data-step="cb-item4" id="cb-step4">
                        <p>
                            <span>4</span>
                            Цвет отпечатков
                        </p>
                    </div>
                </div>
                <div class="cb-result">
                    <div class="cb-result__title">
                        <p>Ваша картина</p>
                    </div>
                    <div class="cb-result__content">
                        <p class="cb-result__data">
                            <span>Изображение:</span>
                            <strong></strong>
                            <strong>{{currentimgtext}}</strong>
                        </p>
                        <p class="cb-result__data">
                            <span>Рама:</span>
                            <strong></strong>
                            <strong>{{currentframetext}}</strong>
                        </p>
                        <div class="cb-result__data">
                            <span>Отпечатки:</span>
                            <strong>{{currentprinttext}}</strong>

                        </div>
                        <div class="cb-result__object">                                                       
                            <div v-bind:style="currentimg" class="cb-result__img">                            
                            </div> 
                            <div style="opacity:0.4; " class="cb-result__border" v-bind:style="activefirstcolor">                               
                            </div>
                            <div style="opacity:0.4;" class="cb-result__border"  v-bind:style="currentgradient">                               
                            </div>
                            <div class="cb-result__border" v-bind:style="currentframe">                               
                            </div>
                                                        
                            <p style="font-size: 22px;" v-bind:style="currentfontstyle" class="cb-result__text__title ariston">{{titletext}}</p>
                            <p style="font-size: 22px;" v-bind:style="currentfontstyle" class="cb-result__text__name ariston">{{nametext}}</p>
                            <p style="font-size: 22px;" v-bind:style="currentfontstyle" class="cb-result__text__date ariston">{{datetext}}</p>
                        </div>
                    </div>
                    <div class="cb-result__bottom">
                        <form action="" method="POST">
                            <p style="cursor:pointer;" v-on:click="nextstep" class="cb-next">Далее</p>
                            <input name="result" id="" type="text" hidden="">
                        </form>
                    </div>
                </div>
                <div class="cb-wrapper">
                    <div id="cb-items" v-bind:class="currentcbitem">
                        <div class="cb-item">
                            <p class="cb-item__title">
                                Выберите изображение 
                            </p>
                            <p class="cb-item__text">
                                для начала выберите основу, саму картину, на которую вы и гости вашего праздника будете
                                наносить отпечатки пальцев с пожеланиями
                            </p>
                            <div class="cb-item-pics">

                                <div v-on:click="currentimg1" class="cb-item-pic">
                                    <img src="./img/pics/01.jpg" alt="Картинка №1" title="Картинка №1" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg2" class="cb-item-pic">
                                    <img src="./img/pics/02.jpg" alt="Картинка №2" title="Картинка №2" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg3" class="cb-item-pic">
                                    <img src="./img/pics/03.jpg" alt="Картинка №3" title="Картинка №3" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg4" class="cb-item-pic">
                                    <img src="./img/pics/04.jpg" alt="Картинка №4" title="Картинка №4" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg5" class="cb-item-pic">
                                    <img src="./img/pics/05.jpg" alt="Картинка №5" title="Картинка №5" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg6" class="cb-item-pic">
                                    <img src="./img/pics/06.jpg" alt="Картинка №6" title="Картинка №6" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg7" class="cb-item-pic">
                                    <img src="./img/pics/07.jpg" alt="Картинка №7" title="Картинка №7" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg8" class="cb-item-pic">
                                    <img src="./img/pics/08.jpg" alt="Картинка №8" title="Картинка №8" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg9" class="cb-item-pic">
                                    <img src="./img/pics/09.jpg" alt="Картинка №9" title="Картинка №9" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg10" class="cb-item-pic">
                                    <img src="./img/pics/10.jpg" alt="Картинка №10" title="Картинка №10" width="176"
                                         height="220">
                                </div>
                                <div v-on:click="currentimg11" class="cb-item-pic">
                                    <img src="./img/pics/11.jpg" alt="Картинка №11" title="Картинка №11" width="176"
                                         height="220">
                                </div>
                            </div>
                        </div>
                        <div class="cb-item">
                            <p class="cb-item__title">
                                Рама
                            </p>
                            <p class="cb-item__text">
                                подберите раму, которая подойдет случаю и впишется в интерьер, ведь вы же не просто
                                оставляете "пальчики", а создаете предмет декора для дома и офиса:
                            </p>
                            <div class="cb-item-borders">

                                <div v-on:click="currentframe1" class="cb-item-border">
                                    <img src="./img/borders/rama-01.png" alt="Багетная №1" title="Багетная №1"
                                         width="120" height="150">

                                </div>
                                <div v-on:click="currentframe2" class="cb-item-border">
                                    <img src="./img/borders/rama-02.png" alt="Багетная №2" title="Багетная №2"
                                         width="120" height="150">

                                </div>
                                <div v-on:click="currentframe3" class="cb-item-border">
                                    <img src="./img/borders/rama-03.png" alt="Багетная №3" title="Багетная №3"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.03.jpg" title="Багетная №3"
                                                            rel="gal-2"></a><a
                                        class="cb-item-border__prev fancybox gallery" href="./img/borders/prev.03.1.jpg"
                                        title="Багетная №3" rel="gal-2"></a><a
                                        class="cb-item-border__prev fancybox gallery" href="./img/borders/prev.03.2.jpg"
                                        title="Багетная №3" rel="gal-2"></a>
                                </div>
                                <div v-on:click="currentframe4" class="cb-item-border">
                                    <img src="./img/borders/rama-04.png" alt="Багетная №4" title="Багетная №4"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.04.jpg" title="Багетная №4"
                                                            rel="gal-3"></a>
                                </div>
                                <div v-on:click="currentframe5" class="cb-item-border">
                                    <img src="./img/borders/rama-05.png" alt="Багетная №5" title="Багетная №5"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.05.jpg" title="Багетная №5"
                                                            rel="gal-4"></a>
                                </div>
                                <div v-on:click="currentframe6" class="cb-item-border">
                                    <img src="./img/borders/rama-06.png" alt="Багетная №6" title="Багетная №6"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.06.jpg" title="Багетная №6"
                                                            rel="gal-5"></a>
                                </div>
                                <div v-on:click="currentframe7" class="cb-item-border">
                                    <img src="./img/borders/rama-07.png" alt="Багетная №7" title="Багетная №7"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.07.jpg" title="Багетная №7"
                                                            rel="gal-6"></a>
                                </div>
                                <div v-on:click="currentframe8" class="cb-item-border">
                                    <img src="./img/borders/rama-08.png" alt="Багетная №8" title="Багетная №8"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.08.jpg" title="Багетная №8"
                                                            rel="gal-7"></a>
                                </div>
                                <div v-on:click="currentframe9" class="cb-item-border">
                                    <img src="./img/borders/rama-09.png" alt="Багетная №9" title="Багетная №9"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.09.jpg" title="Багетная №9"
                                                            rel="gal-8"></a>
                                </div>
                                <div v-on:click="currentframe10" class="cb-item-border">
                                    <img src="./img/borders/rama-10.png" alt="Багетная №10" title="Багетная №10"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.10.jpg" title="Багетная №10"
                                                            rel="gal-9"></a>
                                </div>
                                <div v-on:click="currentframe11" class="cb-item-border">
                                    <img src="./img/borders/rama-11.png" alt="Багетная №11" title="Багетная №11"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.11.jpg" title="Багетная №11"
                                                            rel="gal-10"></a>
                                </div>
                                <div v-on:click="currentframe12" class="cb-item-border">
                                    <img src="./img/borders/rama-12.png" alt="Багетная №12" title="Багетная №12"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.12.jpg" title="Багетная №12"
                                                            rel="gal-11"></a>
                                </div>
                                <div v-on:click="currentframe13" class="cb-item-border">
                                    <img src="./img/borders/rama-13.png" alt="Багетная №13" title="Багетная №13"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.13.jpg" title="Багетная №13"
                                                            rel="gal-12"></a>
                                </div>
                                <div v-on:click="currentframe14" class="cb-item-border">
                                    <img src="./img/borders/rama-14.png" alt="Багетная №14" title="Багетная №14"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.14.jpg" title="Багетная №14"
                                                            rel="gal-13"></a>
                                </div>
                                <div v-on:click="currentframe15" class="cb-item-border">
                                    <img src="./img/borders/rama-15.png" alt="Багетная №15" title="Багетная №15"
                                         width="120" height="150">
                                    <a class="cb-item-border__prev fancybox gallery"
                                                            href="./img/borders/prev.15.jpg" title="Багетная №15"
                                                            rel="gal-14"></a>
                                </div>
                            </div>
                        </div>
                        <div class="cb-item">
                            <p class="cb-item__title">
                                Заголовок
                            </p>
                            <p class="cb-item__text">
                                персонализируйте ваше "Дерево пожеланий"; вверху и внизу картины есть специальные поля,
                                которые можно заполнить по вашему усмотрению: вписать имена виновников торжества, или
                                особые пожелания, добавить дату, или логотип компании, если речь идет о корпоративном
                                подарке.
                            </p>
                            <div class="cb-item__line">
                                <input v-model="titletext" id="pic-title" placeholder="Наша Свадьба" maxlength="22" type="text">
                                <span>Заголовок картины</span>

                            </div>
                            <div class="cb-item__line">
                                <input v-model="nametext" id="pic-name" placeholder="Анастасия и Константин" maxlength="36" type="text">
                                <span>Подпись</span>
                            </div>
                            <div class="cb-item__line">
                                <input v-model="datetext" id="pic-date" placeholder="29 июля 2015" maxlength="26" type="text">
                                <span>Дата события</span>
                            </div>
                            <div class="cb-item__line--btns">
									<span id="ariston" v-on:click="currentfont1" v-bind:class="activebtn1" class="btn-font">
										Ariston
									</span>
                                <span  id="davinci" v-on:click="currentfont2" v-bind:class="activebtn2" class="btn-font">
										DaVinci
									</span>
                                <span  id="brody" v-on:click="currentfont3" v-bind:class="activebtn3" class="btn-font">
										Brody
									</span>
                            </div>
                        </div>


                        <div class="cb-item">
                            <p class="cb-item__title">
                                Цвет отпечатков
                            </p>
                            <p class="cb-item__text">
                                наконец, подберите самые подходящие цвета красок, с помощью которых вы и оставите на
                                картине свой след на память!<br>
                                <strong>Обратите внимание: более 2-х цветов увеличат стоимость</strong>
                            </p>

                            <div class="cb-item-marks">
                                <div class="cb-item-mark">
                                    <input id="mark0" type="checkbox">
                                    <label v-on:click="bindcolor1" for="mark0" title="BahamaBlue"></label>
                                    <img src="./img/marks/BahamaBlue.jpg" alt="BahamaBlue" width="136" height="136">
                                </div>
                                <div  class="cb-item-mark">
                                    <input id="mark1" type="checkbox">
                                    <label v-on:click="bindcolor2" for="mark1" title="BambooLeaves"></label>
                                    <img src="./img/marks/BambooLeaves.jpg" alt="BambooLeaves" width="136" height="136">
                                </div>
                                <div class="cb-item-mark">
                                    <input id="mark2" type="checkbox">
                                    <label v-on:click="bindcolor3" for="mark2" title="LilacPosies"></label>
                                    <img src="./img/marks/LilacPosies.jpg" alt="LilacPosies" width="136" height="136">
                                </div>
                                <div class="cb-item-mark">
                                    <input id="mark3" type="checkbox">
                                    <label v-on:click="bindcolor4" for="mark3" title="PearTart"></label>
                                    <img src="./img/marks/PearTart.jpg" alt="PearTart" width="136" height="136">
                                </div>
                                <div class="cb-item-mark">
                                    <input id="mark4" type="checkbox">
                                    <label v-on:click="bindcolor5" for="mark4" title="RhubarbStalk"></label>
                                    <img src="./img/marks/RhubarbStalk.jpg" alt="RhubarbStalk" width="136" height="136">
                                </div>
                                <div  class="cb-item-mark">
                                    <input id="mark5" type="checkbox">
                                    <label v-on:click="bindcolor6" for="mark5" title="Tangelo"></label>
                                    <img src="./img/marks/Tangelo.jpg" alt="Tangelo" width="136" height="136">
                                </div>
                                <div  class="cb-item-mark">
                                    <input id="mark6" type="checkbox">
                                    <label v-on:click="bindcolor7" for="mark6" title="CottageIvy"></label>
                                    <img src="./img/marks/CottageIvy.jpg" alt="CottageIvy" width="136" height="136">
                                </div>                                
                                <div class="cb-item-mark">
                                    <input id="mark9" type="checkbox">
                                    <label v-on:click="bindcolor10" for="mark9" title="PottersClay"></label>
                                    <img src="./img/marks/PottersClay.jpg" alt="PottersClay" width="136" height="136">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cb-bottom-line">
                    <div class="cb-total">
                        <span class="cb-total__text">Стоимость:</span><span class="cb-total__amount">{{total}}</span>
                        <span class="cb-total__currency"> грн</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="main.js"></script>
</body>
</html>
