@import 'nh.css';
.fancybox-title {
  display: none;
}
.fancybox-close {
  top: 25px;
  right: 25px;
  height: 23px;
  width: 23px;
  background: transparent url("../img/x.png") 0 0 no-repeat;
  opacity: 0.7;
}
.fancybox-close:hover {
  opacity: 1;
}
.fancybox-opened .fancybox-skin {
  background-color: #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 10px 20px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 10px 20px 0 rgba(0,0,0,0.15);
}
.fancybox-outer {
  -webkit-box-shadow: none;
  box-shadow: none;  
}
.fancybox-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fancybox-next {
  right: -95px;
}
.fancybox-next span {
  background: transparent url("../img/product.next.png") 0 0 no-repeat;
}
.fancybox-prev {
  left: -95px;
}
.fancybox-prev span {
  background: transparent url("../img/product.prev.png") 0 0 no-repeat;
}
.fancybox-nav {
  width: 0;
}
.fancybox-nav span {
  visibility: visible;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 56px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  opacity: 0.7;
}
.fancybox-nav span:hover {
  opacity: 1;
}
.fancybox-nav span:active {
  opacity: 0.5;
}
.fancybox-overlay {
  background-image: none;
  background-color: rgba(255,255,255,0.8);
}
.popup {
  position: relative;
  color: #7e7165;
  padding: 30px 45px 40px;
  -webkit-box-shadow: 0 0 0 5px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 5px rgba(126,113,101,0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.popup a {
  color: #8dbc55;
  display: inline-block;
  margin-bottom: 10px;
}
.popup p {
  width: 456px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.popup .popup__title {
  color: #8dbc55;
  font-family: FS-medium;
  font-size: 24px;
  line-height: 36px;
  margin: 10px auto;
}
.popup .popup__ok {
  color: #8dbc55;
  margin: 30px auto 0;
  border: 2px solid rgba(141,188,85,0.3);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  width: 220px;
  cursor: pointer;
  line-height: 54px;
  text-align: center;
}
.popup .popup__ok:hover {
  color: #fff;
  border: 2px solid #8dbc55;
  background-color: #8dbc55;
}
.popup .popup__ok:active {
  border: 2px solid transparent;
}
.popup .popup__amount {
  font-family: FS-medium;
  font-size: 60px;
  line-height: 1;
  margin: 20px 0 0;
}
.popup .popup__amount span {
  display: block;
  margin-top: -10px;
  font-size: 18px;
  line-height: 18px;
  opacity: 0.5;
}
.popup__submit p {
  width: 396px;
}
.popup__form {
  width: 456px;
}
.popup__form input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.popup__form input:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
}
.popup__form .popup__half {
  display: block;
  float: left;
  width: 216px;
  margin-left: 24px;
}
.popup__form .popup__half.first-in-line {
  margin-left: 0;
}
.popup__form textarea {
  padding: 15px 20px;
  height: 120px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  resize: none;
  margin-bottom: 20px;
}
.popup__form textarea:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
}
.popup__form button {
  color: #fff;
  font-size: 18px;
  font-family: FS-medium;
  text-transform: uppercase;
  height: 50px;
  line-height: 54px;
  width: 100%;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  background-color: #8dbc55;
}
.popup__form button:hover {
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 2px #74af2d;
}
.popup__form button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popup__form .input__error {
  border: 1px solid #ff4545;
}
.popup__envelope {
  display: block;
  height: 41px;
  width: 58px;
  margin-bottom: 15px;
  background: transparent url("../img/ico.envelope.green.png") 0 0 no-repeat;
}
.popup__girl {
  display: block;
  height: 50px;
  width: 40px;
  margin-bottom: 25px;
}
.popup__girl.girl1 {
  background: transparent url("../img/ico.girl.1.png") 0 0 no-repeat;
}
.popup__girl.girl2 {
  background: transparent url("../img/ico.girl.2.png") 0 0 no-repeat;
}
.popup__girl.girl3 {
  background: transparent url("../img/ico.girl.3.png") 0 0 no-repeat;
}
body {
  color: #7e7165;
  font-size: 16px;
  line-height: 22px;
  font-family: FS-regular;
}
[v-cloak] {
  display: none;
}
body.oh {
  overflow: hidden;
}
#overlay {
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
}
#overlay.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  z-index: 3;
}
a {
  color: #7e7165;
  text-decoration: none;
}
a:hover {
  color: #8dbc55;
}
::selection {
  color: #fff;
  background: #8dbc55;
}
::-moz-selection {
  color: #fff;
  background: #8dbc55;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: inline-block;
}
h1 {
  font-size: 32px;
  font-family: FS-bold;
  font-weight: normal;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
h2 {
  font-size: 32px;
  font-family: FS-regular;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.dotted {
  overflow: hidden;
}
.dotted h2 {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2px;
}
.dotted h2:before,
.dotted h2:after {
  position: absolute;
  top: 8px;
  height: 5px;
  width: 1000px;
  content: '';
  display: block;
  background: transparent url("../img/ico.dot.png") 0 0 repeat-x;
}
.dotted h2:before {
  right: 100%;
}
.dotted h2:after {
  left: 100%;
}
.dots {
  height: 100px;
  background: transparent url("../img/ico.dot.png") 0 center repeat-x;
}
input,
textarea {
  outline: none;
}
.menu__ul i {
  opacity: 0.3;
  display: inline-block;
  background-color: #7e7165;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.centered {
  margin: 0 auto;
}
.font-size-24 {
  font-size: 24px;
  line-height: 42px;
}
.font-size-14 {
  font-size: 14px;
  line-height: 22px;
}
.header {
  position: relative;
  height: 170px;
  padding-top: 10px;
  font-size: 12px;
}
.lng-search {
  height: 40px;
  line-height: 40px;
}
.lng {
  float: left;
}
.lng span {
  opacity: 0.3;
  padding-left: 17px;
  padding-right: 10px;
}
.search {
  margin-top: -3px;
  position: relative;
  margin-left: 110px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search__icon {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 20px;
  width: 23px;
  background: transparent url("../img/ico.search.png") 3px 2px no-repeat;
  -webkit-transition: transform 0.3s 1.4s, opacity 0.3s 1.4s;
  -moz-transition: transform 0.3s 1.4s, opacity 0.3s 1.4s;
  -ms-transition: transform 0.3s 1.4s, opacity 0.3s 1.4s;
  -o-transition: transform 0.3s 1.4s, opacity 0.3s 1.4s;
  transition: transform 0.3s 1.4s, opacity 0.3s 1.4s;
}
.search:hover .search__icon {
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  -o-transform: rotate(110deg);
  transform: rotate(110deg);
  opacity: 0;
  -webkit-transition: transform 0.3s, opacity 0.3s 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s 0.3s;
  -ms-transition: transform 0.3s, opacity 0.3s 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s 0.3s;
  transition: transform 0.3s, opacity 0.3s 0.3s;
}
.search:hover .search__line {
  opacity: 1;
  visibility: visible;
  width: 300px;
  left: -12px;
  -webkit-transition: all 0.7s 0.3s;
  -moz-transition: all 0.7s 0.3s;
  -ms-transition: all 0.7s 0.3s;
  -o-transition: all 0.7s 0.3s;
  transition: all 0.7s 0.3s;
}
.search__line {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 150px;
  height: 40px;
  width: 0;
  padding-right: 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  -webkit-transition: all 0.7s 0.7s;
  -moz-transition: all 0.7s 0.7s;
  -ms-transition: all 0.7s 0.7s;
  -o-transition: all 0.7s 0.7s;
  transition: all 0.7s 0.7s;
}
.search__input {
  border: none;
  margin-left: 20px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #7e7165;
  font-family: FS-medium;
  font-size: 16px;
  outline: none;
}
.search__submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  font-family: FS-regular;
  cursor: pointer;
  background-color: #7e7165;
  border: none;
}
.search__submit:hover {
  opacity: 0.8;
}
.phones {
  padding-top: 15px;
}
.phones p {
  font-family: FS-regular;
  font-size: 18px;
  margin: 0.7em 0;
}
.logo {
  margin-top: 50px;
}
.logo img {
  display: block;
  margin: 0 auto;
}
.top-links {
  margin-top: 7px;
}
.top-links li {
  font-family: FS-regular;
}
.top-links span {
  opacity: 0.3;
  padding-left: 13px;
  padding-right: 15px;
}
.cart-area {
  margin-top: 40px;
}
.cart {
  height: 50px;
  width: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 10px;
  float: right;
  background: transparent url("../img/cart.png") 0 0 no-repeat;
  color: #b2aaa3;
  font-size: 18px;
  text-align: center;
}
.cart:hover {
  color: #fff;
  background: transparent url("../img/cart.png") 0 -51px no-repeat;
}
nav {
  border-top: 1px solid rgba(126,113,101,0.2);
  border-bottom: 1px solid rgba(126,113,101,0.2);
  height: 60px;
}
.menu {
  position: relative;
}
.menu ul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: justify;
  padding: 0;
}
.menu ul:after {
  content: '';
  width: 100%;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  display: inline-block;
}
.menu ul li {
  line-height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  display: inline-block;
}
.menu ul i {
  height: 5px;
  width: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 60px;
}
.menu__a {
  line-height: 60px;
  display: inline-block;
}
.menu__a--current {
  font-family: FS-bold;
  cursor: default;
}
.menu__a--current:hover {
  color: #7e7165;
}
.slider-product-wrapper {
  height: 512px;
  width: 376px;
  margin-bottom: 30px;
}
.slider-product {
  position: relative;
  z-index: 5;
  width: 376px;
}
.slider-product.position-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 712px;
  width: 564px;
  margin-top: -356px;
  margin-left: -282px;
}
.slider-product.position-fixed.no-thumbs {
  margin-top: -282px;
}
.slider-product.position-fixed .slider-nav {
  width: 384px;
  margin: 0 auto;
}
.slider-product.position-fixed .hidden {
  display: none;
}
.slider-product.position-fixed .slider-for {
  margin-bottom: 12px;
  width: 564px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 10px 20px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 10px 20px 0 rgba(0,0,0,0.15);
}
.slider-product.position-fixed .slider-for .slide img {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 564px;
  width: 564px;
}
.slider-product.position-fixed .slider-for .slick-arrow {
  visibility: visible;
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  height: 56px;
  width: 30px;
  border: none;
  z-index: 2;
  opacity: 0.7;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.slider-product.position-fixed .slider-for .slick-arrow:hover {
  opacity: 1;
}
.slider-product.position-fixed .slider-for .slick-arrow:active {
  opacity: 0.5;
}
.slider-product.position-fixed .slider-for .slick-prev {
  left: -70px;
  background: transparent url("../img/product.prev.png") 0 0 no-repeat;
}
.slider-product.position-fixed .slider-for .slick-next {
  right: -70px;
  background: transparent url("../img/product.next.png") 0 0 no-repeat;
}
.slider-product .slider-for {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
}
.slider-product .slider-for .slick-arrow {
  position: absolute;
  height: 25px;
  width: 25px;
  border: none;
  z-index: 2;
  color: transparent;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  bottom: -81px;
  opacity: 0.7;
}
.slider-product .slider-for .slick-prev {
  left: -13px;
  background: transparent url("../img/ico.prev.png") 0 0 no-repeat;
  background-size: cover;
}
.slider-product .slider-for .slick-next {
  right: -13px;
  background: transparent url("../img/ico.next.png") 0 0 no-repeat;
  background-size: cover;
}
.slider-product .slider-for .slick-arrow:hover {
  opacity: 1;
}
.slider-product .slider-for .slick-arrow:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slider-product .slider-for .slide {
  cursor: pointer;
  overflow: hidden;
}
.slider-product .slider-for .slide img {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: auto;
  width: 100%;
}
.slider-product .slider-nav {
  margin: 0 -4px;
}
.slider-product .slider-nav .slick-arrow {
  position: absolute;
  top: 50%;
  visibility: hidden;
  z-index: -1;
}
.slider-product .slider-nav .slide {
  outline: none;
  cursor: pointer;
  padding: 8px 4px;
}
.slider-product .slider-nav .slide img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  -webkit-transition: box-shadow 0.7s;
  -moz-transition: box-shadow 0.7s;
  -ms-transition: box-shadow 0.7s;
  -o-transition: box-shadow 0.7s;
  transition: box-shadow 0.7s;
}
.slider-product .slider-nav .slide:focus img {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 2px 6px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 2px 6px 0 rgba(0,0,0,0.15);
}
.slider-product .slider-nav .slick-current img {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 2px 6px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 2px 6px 0 rgba(0,0,0,0.15);
}
.slider-wrapper {
  margin: 0 -10px;
  width: 980px;
  overflow: hidden;
  position: relative;
}
.slider-wrapper:before,
.slider-wrapper:after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 25px;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
  box-shadow: 0 0 0 1px #fff inset;
  background-color: #fff;
  z-index: 1;
}
.slider-wrapper:before {
  left: -5px;
}
.slider-wrapper:after {
  right: -5px;
}
.slider {
  width: 1280px;
  margin: 0 -150px;
}
.slider .slick-arrow {
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  border: none;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  z-index: 2;
  opacity: 0.7;
}
.slider .slick-arrow:hover {
  opacity: 1;
}
.slider .slick-arrow:active {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
.slider .slick-prev {
  left: 154px;
  background: transparent url("../img/ico.prev.png") 0 0 no-repeat;
}
.slider .slick-next {
  right: 154px;
  background: transparent url("../img/ico.next.png") 0 0 no-repeat;
}
.slider .slide {
  height: 270px;
  width: 296px;
  padding: 2px 12px 12px;
}
.slider .slide a {
  background-color: #b0eddf;
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  outline: none;
}
.slider .slide a img {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.slider .slide a:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 2px 6px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 2px 6px 0 rgba(0,0,0,0.3);
}
.slider .slide a:hover img {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 20px;
}
.breadcrumbs li {
  font-size: 14px;
  padding-right: 3px;
}
.breadcrumbs .current {
  font-family: FS-medium;
}
.main-banner {
  height: 510px;
  margin-bottom: 70px;
  text-align: center;
  background: #b0eddf url("../img/banner.png") center center no-repeat;
  background-size: cover;
}
.main-banner:before {
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.main-banner__title {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  color: #fff;
  font-family: FS-regular;
  font-size: 70px;
  text-align: center;
  line-height: 83px;
  text-shadow: 0 8px 18px rgba(0,0,0,0.5);
}
.main-banner__selected {
  letter-spacing: 5px;
  font-family: FS-medium;
  text-transform: uppercase;
}
.main-greeting {
  margin: 0 auto 60px;
  text-align: center;
  font-family: FS-regular;
  font-size: 24px;
  line-height: 36px;
}
.main-links {
  overflow: hidden;
  margin-bottom: 15px;
}
.main-link {
  display: block;
  position: relative;
  background: #b0eddf;
  height: 270px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.main-link:hover {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
}
.main-link:hover .main-link__title {
  height: 270px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.main-link__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 80px;
  background-color: rgba(126,113,101,0.5);
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  text-transform: uppercase;
  -webkit-transition: height 1.4s;
  -moz-transition: height 1.4s;
  -ms-transition: height 1.4s;
  -o-transition: height 1.4s;
  transition: height 1.4s;
}
.main-link__title:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}
.banner {
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.banner:hover {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
}
.banner img {
  display: block;
}
.banner-block {
  position: relative;
  height: 366px;
  margin-bottom: 0px;
}
.banner-block:after {
  content: '';
  display: block;
  clear: both;
}
.bb-left,
.bb-right {
  width: 280px;
  height: 306px;
  margin-top: 24px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  overflow: hidden;
}
.bb-left {
  float: left;
  margin-left: 2px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.bb-right {
  float: right;
  margin-right: 2px;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.bb-center {
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -188px;
  height: 340px;
  width: 376px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 6px 15px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 6px 15px 0 rgba(0,0,0,0.2);
}
.catalog-page h1 {
  margin-bottom: 7px;
}
.catalog-page main p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 35px 0;
}
.catalog__item {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  height: 280px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.catalog__item img {
  display: block;
}
.catalog__item:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
}
.catalog__item:hover a {
  color: #7e7165;
}
.catalog__item .catalog__item__text {
  height: 64px;
  letter-spacing: -4px;
  padding: 0 20px;
}
.catalog__item .catalog__item__text:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  margin-left: -1px;
}
.catalog__item .catalog__item__text p {
  font-size: 16px;
  line-height: 22px;
  opacity: 1;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.constructor-block {
  position: relative;
  height: 670px;
  width: 1030px;
  margin-bottom: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
}
.constructor__price {
  color: #8dbc55;
  margin: 10px 0 -25px;
  text-align: center;
  letter-spacing: -1px;
}
.constructor__text {
  margin-bottom: 40px;
}
.constructor__text--small {
  margin-top: -15px;
}
.constructor__amount {
  position: relative;
  font-size: 60px;
  font-family: FS-bold;
  line-height: 90px;
  margin: 0;
  display: inline-block;
}
.constructor__currerncy {
  position: absolute;
  top: 47px;
  right: -35px;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-family: FS-regular;
}
.cb-top-line {
  height: 60px;
  line-height: 60px;
  width: 640px;
  overflow: hidden;
  border-bottom: 1px solid rgba(126,113,101,0.2);
}
.cb-top-line p {
  margin: 0;
  line-height: 60px;
}
.cb-step {
  color: #b2aaa3;
  float: left;
  width: 160px;
  font-size: 12px;
  cursor: pointer;
}
.cb-step:first-child p:before {
  border-left: none;
}
.cb-step p:before {
  content: '';
  display: inline-block;
  border-left: 1px solid rgba(126,113,101,0.2);
  margin-right: 20px;
  line-height: 60px;
  height: 24px;
  vertical-align: middle;
}
.cb-step span {
  font-size: 18px;
  margin-right: 5px;
  font-family: FS-medium;
}
.cb-step--current {
  color: #7e7165;
  font-family: FS-bold;
}
.cb-result {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 340px;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background-color: #e6e3e1;
}
.cb-result p {
  margin: 0;
}
.cb-result__title {
  width: 276px;
  border-bottom: 1px solid rgba(126,113,101,0.2);
  font-size: 18px;
  font-family: FS-medium;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  overflow: hidden;
}
.cb-result__content {
  padding: 25px 30px;
  height: 400px;
}
.cb-result__data {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: FS-regular;
}
.cb-result__data span {
  vertical-align: top;
}
.cb-result__data strong {
  display: inline-block;
  font-weight: normal;
  font-family: FS-medium;
}
.cb-result__marks {
  display: inline-block;
  width: 145px;
}
.cb-result__marks span {
  vertical-align: baseline;
}
.cb-result__object {
  position: relative;
  height: 360px;
  width: 290px;
  margin-top: 25px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.13);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.13);
}
.cb-result__border,
.cb-result__img,
.cb-result__text {
  position: absolute;
}
.cb-result__border img,
.cb-result__img img,
.cb-result__text img {
  height: 360px;
  width: 290px;
}
.cb-result__img {
  top: 0;
  left: 0;
  height: 360px;
  width: 290px;
  background-color: #fff;
}
.cb-result__border {
  top: 0;
  left: 0;
  height: 360px;
  width: 290px;
  background-repeat: no-repeat
}
.cb-result__text__title,
.cb-result__text__name,
.cb-result__text__date {
  position: absolute;
  overflow: hidden;
  left: 35px;
  right: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}
.cb-result__text__title.davinci,
.cb-result__text__name.davinci,
.cb-result__text__date.davinci {
  font-size: 16px;
}
.cb-result__text__title {
  top: 40px;
}
.cb-result__text__name {
  bottom: 64px;
}
.cb-result__text__name.small {
  font-size: 10px;
}
.cb-result__text__date {
  bottom: 35px;
}
.cb-result__bottom {
  height: 70px;
  padding-top: 60px;
}
.cb-button {
  display: block;
  margin: 0 auto 20px;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #8dbc55;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  line-height: 55px;
  font-family: FS-medium;
  text-transform: uppercase;
  opacity: 0.7;
}
.cb-button.active {
  opacity: 1;
}
.cb-button.active:hover {
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 2px #74af2d;
}
.cb-button.active:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cb-result__bottom .cb-next {
  display: block;
  margin: 0 auto 20px;
  height: 50px;
  width: 250px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #8dbc55;
  color: #fff;
  font-size: 18px;
  line-height: 55px;
  font-family: FS-medium;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7;
}
.cb-result__bottom .cb-next.active {
  cursor: pointer;
  opacity: 1;
}
.cb-result__bottom .cb-next.active:hover {
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 2px #74af2d;
}
.cb-result__bottom .cb-next.active:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cb-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  height: 450px;
  width: 640px;
  overflow: hidden;
}
#cb-items {
  width: 2560px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
#cb-items.cb-item1 {
  left: 0;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
#cb-items.cb-item2 {
  left: -640px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
#cb-items.cb-item3 {
  left: -1280px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
#cb-items.cb-item4 {
  left: -1920px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.cb-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 640px;
  padding: 29px 30px 0 30px;
  height: 450px;
  float: left;
}
.cb-item__title {
  font-size: 24px;
  font-family: FS-medium;
  line-height: 42px;
  margin: 0;
}
.cb-item__text {
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
}
.cb-item-pics,
.cb-item-borders,
.cb-item-marks {
  height: 320px;
  overflow: auto;
  margin-left: -6px;
  margin-right: -12px;
}
.cb-item-marks {
  height: 298px;
  margin-right: -20px;
}
.cb-item-pic {
  position: relative;
  height: 200px;
  width: 180px;
  float: left;
  margin: 6px 6px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.cb-item-pic.current {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cb-item-pic.current:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  -webkit-box-shadow: 0 0 0 0, 0 0 0 5px rgba(141,188,85,0.7) inset;
  box-shadow: 0 0 0 0, 0 0 0 5px rgba(141,188,85,0.7) inset;
}
.cb-item-pic.current:hover {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.13);
}
.cb-item-pic img {
  margin-top: -10px;
  margin-left: 2px;
  height: 220px;
  width: 176px;
}
.cb-item-pic:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
}
.cb-item-border {
  position: relative;
  height: 200px;
  width: 180px;
  float: left;
  margin: 6px 6px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.cb-item-border.current {
  -webkit-box-shadow: 0 0 0 5px rgba(141,188,85,0.7) inset;
  box-shadow: 0 0 0 5px rgba(141,188,85,0.7) inset;
}
.cb-item-border.current:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(141,188,85,0.7) inset, 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 0 0 5px rgba(141,188,85,0.7) inset, 0 4px 12px 0 rgba(0,0,0,0.13);
}
.cb-item-border img {
  margin-top: 25px;
  margin-left: 30px;
  height: 150px;
  width: 120px;
}
.cb-item-border:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset, 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset, 0 4px 12px 0 rgba(0,0,0,0.13);
}
.cb-item-border__prev {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  display: none;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.15;
  -webkit-transition: transform 0.3s, opacity 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s;
  -ms-transition: transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  background: transparent url("../img/ico.preview.png") 0 0 no-repeat;
}
.cb-item-border__prev:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 0.3;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
}
.cb-item-border__prev:first-of-type {
  display: block;
}
.cb-item-mark {
  height: 136px;
  width: 136px;
  float: left;
  margin: 6px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  background-color: #fff;
  position: relative;
}
.cb-item-mark input {
  position: absolute;
  top: -20px;
  left: -20px;
}
.cb-item-mark input + label {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.cb-item-mark input:checked + label {
  -webkit-box-shadow: 0 0 0 5px rgba(141,188,85,0.7) inset;
  box-shadow: 0 0 0 5px rgba(141,188,85,0.7) inset;
}
.cb-item-mark label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
  display: block;
}
.cb-item-mark img {
  margin-top: 0px;
  margin-left: 0px;
  height: 136px;
  width: 136px;
}
.cb-item-mark:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
}
.mark-ico {
  display: inline-block;
  line-height: 30px;
  margin-right: 4px;
  vertical-align: middle;
}
.mark-ico span {
  display: inline-block;
  height: 14px;
  width: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.cb-item__line {
  margin-bottom: 20px;
}
.cb-item__line input {
  height: 40px;
  width: 250px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
}
.cb-item__line input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.7) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.7) inset;
}
.cb-item__line input.not-valid {
  -webkit-box-shadow: 0 0 0 1px rgba(255,69,69,0.8) inset;
  box-shadow: 0 0 0 1px rgba(255,69,69,0.8) inset;
}
.cb-item__line .error {
  color: #ff4545;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 280px;
}
.cb-item__line--btns {
  float: left;
  height: 40px;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 10px;
}
.cb-item__line--result {
  height: 40px;
  margin-left: 15px;
  margin-top: 30px;
  font-size: 24px;
}
.cb-item__line--result .ariston {
  font-size: 17px;
}
.cb-item__line--result .brody {
  font-size: 20px;
}
.ariston {
  font-family: 'Ariston';
}
.davinci {
  font-family: 'Davinci';
}
.brody {
  font-family: 'Brody';
}
.btn-font {
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-right: 10px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  color: #8dbc55;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px #8dbc55 inset;
  box-shadow: 0 0 0 1px #8dbc55 inset;
  cursor: pointer;
}
.btn-font:last-child {
  margin-right: 0;
}
.btn-font--active {
  color: #fff;
  background-color: #8dbc55;
}
.cb-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 640px;
  height: 90px;
  text-align: right;
  border-top: 1px solid rgba(126,113,101,0.2);
}
.cb-total {
  height: 90px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  line-height: 90px;
}
.cb-total__text {
  font-size: 16px;
}
.cb-total__amount {
  color: #8dbc55;
  font-size: 60px;
  font-family: FS-bold;
}
.cb-total__currency {
  color: #8dbc55;
  font-size: 18px;
}
.do-you-want {
  font-size: 16px;
}
.do-you-want p {
  color: #7e7165;
  line-height: 1.5;
}
.do-you-want a {
  margin-top: 4px;
  margin-bottom: 15px;
  display: inline-block;
  height: 70px;
  width: 480px;
  line-height: 70px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #8dbc55;
  font-family: FS-medium;
  background-color: rgba(136,199,103,0.3);
  -webkit-box-shadow: 0 0 0 2px #8dbc55 inset;
  box-shadow: 0 0 0 2px #8dbc55 inset;
}
.do-you-want a:hover {
  color: #fff;
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 2px #74af2d;
}
.do-you-want a:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-item {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 350px;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  margin: 12px 0;
}
.product-item:hover {
  color: #7e7165;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2), 0 4px 12px 0 rgba(0,0,0,0.13);
}
.product-item__img {
  display: block;
  height: 270px;
  width: 296px;
}
.product-item__text {
  height: 80px;
}
.product-item__text__left {
  padding-left: 20px;
  float: left;
  height: 80px;
  width: 200px;
  overflow: hidden;
}
.product-item__text__left:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px;
  margin-right: -1px;
}
.product-item__text__right {
  height: 80px;
  overflow: hidden;
  padding-right: 20px;
}
.product-item__text__title {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
.product-item__text__price {
  margin: 20px 0 0 0;
  color: #8dbc55;
  font-size: 12px;
  text-align: right;
  overflow: hidden;
  line-height: 1;
}
.product-item__text__price span {
  font-size: 32px;
  font-family: FS-bold;
}
.pagination {
  text-align: center;
}
.pagination:hover {
  opacity: 0.8;
}
.next-page,
.prev-page {
  color: rgba(126,113,101,0.5);
  font-size: 24px;
  font-family: FS-regular;
  line-height: 28px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.prev-page {
  text-align: right;
}
.pagination:before {
  content: '';
  margin: 0 -4px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.prev-arrow,
.next-arrow {
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 30px;
}
.prev-arrow {
  margin-right: 10px;
  background: transparent url("../img/arrow.prev.png") 0 0 no-repeat;
}
.next-arrow {
  margin-left: 10px;
  background: transparent url("../img/arrow.next.png") 0 0 no-repeat;
}
.product .dots {
  height: 10px;
  background: transparent url("../img/ico.dot.png") 0 center repeat-x;
  margin-bottom: 35px;
}
.product h2 {
  margin-top: 0;
  font-size: 32px;
  font-family: FS-medium;
  text-transform: none;
  line-height: 42px;
  margin-bottom: 25px;
}
.product .grid_7 {
  height: 504px;
  position: relative;
}
.product__btn {
  margin: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(141,188,85,0.3);
  box-shadow: 0 0 0 2px rgba(141,188,85,0.3);
  display: block;
  float: right;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 70px;
  width: 215px;
  letter-spacing: -4px;
  background-color: rgba(136,199,103,0.15);
}
.product__btn:hover {
  background-color: #8dbc55;
  -webkit-box-shadow: 0 0 0 0px #8dbc55;
  box-shadow: 0 0 0 0px #8dbc55;
}
.product__btn:hover span {
  color: #fff;
}
.product__btn:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  margin-left: -1px;
  height: 100%;
}
.product__btn span {
  color: #8dbc55;
  font-size: 14px;
  font-family: FS-medium;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0;
  line-height: 1;
  vertical-align: middle;
}
.product__price {
  margin: 0;
  margin-bottom: 30px;
  color: #8dbc55;
  font-size: 18px;
  line-height: 1;
}
.product__price span {
  font-size: 60px;
  font-family: FS-bold;
}
.product__params {
  font-family: FS-regular;
  line-height: 30px;
  margin-bottom: 30px;
}
.product__params span {
  font-family: FS-medium;
}
.product__select {
  position: absolute;
  left: 0;
  bottom: 70px;
  font-family: FS-regular;
}
.product__to-cart {
  position: absolute;
  left: 0;
  bottom: 0;
}
.product__qty {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  height: 50px;
  width: 110px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.product__qty__input {
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border: none;
  border-right: 1px solid rgba(126,113,101,0.2);
  float: left;
  outline: none;
}
.product__qty__btns {
  overflow: hidden;
}
.product__qty-up,
.product__qty-down {
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}
.product__qty-up:before,
.product__qty-down:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-top: 3px solid #7e7165;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: none;
  opacity: 0.5;
  line-height: 25px;
}
.product__qty-up:hover,
.product__qty-down:hover {
  background-color: rgba(126,113,101,0.03);
}
.product__qty-up:hover:before,
.product__qty-down:hover:before {
  opacity: 1;
}
.product__qty-up {
  border-bottom: 1px solid rgba(126,113,101,0.2);
}
.product__qty-up:before {
  border-top: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #7e7165;
}
.product__add {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}
.product__add__btn {
  color: #fff;
  font-size: 18px;
  font-family: FS-medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  height: 50px;
  line-height: 55px;
  width: 250px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #8dbc55;
  -webkit-box-shadow: 0 0 0 2px transparent;
  box-shadow: 0 0 0 2px transparent;
  outline: none;
}
.product__add__btn:hover {
  border: none;
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 5px #74af2d inset, 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 5px #74af2d inset, 0 0 0 2px #74af2d;
}
.product__add__btn:focus,
.product__add__btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1;
  outline: none;
}
.product__text h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
}
.product__text p {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 24px;
}
.cart__table {
  margin-top: 5px;
}
.cart__table thead th {
  font-family: FS-regular;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid rgba(126,113,101,0.3);
  padding-bottom: 10px;
}
.cart__table tbody tr {
  position: relative;
  border-bottom: 1px dashed rgba(126,113,101,0.1);
}
.cart__table tbody tr:last-child {
  border-bottom: 1px solid rgba(126,113,101,0.3);
}
.cart__table tbody tr:last-child:after {
  display: none;
}
.cart__table th {
  text-align: left;
}
.cart__table th:last-child {
  padding-right: 0;
  text-align: right;
}
.cart__table td {
  padding: 20px 20px 20px 0;
  vertical-align: middle;
}
.cart__table td:last-child {
  padding-right: 0;
  text-align: right;
}
.cart__table p {
  margin: 0;
}
.cart__table img {
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  margin: 0;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.cart__table .product__qty {
  margin-right: 0;
}
.cart__price {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1;
}
.cart__price span {
  font-size: 32px;
}
.cart__price--total {
  color: #8dbc55;
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1;
}
.cart__price--total span {
  font-size: 32px;
  font-family: FS-medium;
}
.cart__title {
  font-size: 18px;
  line-height: 24px;
  font-family: FS-medium;
}
.cart__total {
  text-align: right;
  padding: 25px 0 20px;
}
.cart__total span {
  font-size: 18px;
}
.cart__total__amount {
  display: inline-block;
  color: #8dbc55;
}
.cart__total__amount span {
  font-size: 60px;
  font-family: FS-medium;
  line-height: 80px;
  padding-left: 5px;
}
.cart__continue,
.cart__checkout {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: FS-medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  line-height: 54px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.cart__continue {
  text-align: center;
  width: 320px;
  -webkit-box-shadow: 0 0 0 2px rgba(126,113,101,0.3) inset;
  box-shadow: 0 0 0 2px rgba(126,113,101,0.3) inset;
}
.cart__continue:hover {
  color: #fff;
  background-color: rgba(126,113,101,0.3);
  -webkit-box-shadow: 0 0 0 2px rgba(126,113,101,0.3);
  box-shadow: 0 0 0 2px rgba(126,113,101,0.3);
}
.cart__continue:active,
.cart__continue:focus {
  color: #fff;
  background-color: rgba(126,113,101,0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cart__checkout {
  color: #fff;
  float: right;
  width: 280px;
  border: none;
  background-color: #8dbc55;
}
.cart__checkout:hover {
  color: #fff;
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 5px #74af2d inset, 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 5px #74af2d inset, 0 0 0 2px #74af2d;
}
.cart__checkout:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cart__remove {
  position: relative;
  left: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background: transparent url("../img/ico.remove.png") 0 0 no-repeat;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.cart__remove:hover {
  opacity: 1;
}
.faq {
  margin-top: -15px;
}
.faq__line {
  position: relative;
  border-bottom: 1px solid rgba(126,113,101,0.2);
}
.faq__line.active .faq__icon {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.faq__line:hover .faq__icon {
  opacity: 0.5;
}
.faq__title {
  cursor: pointer;
  padding: 23px 30px 24px 0;
}
.faq__title p {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.faq__icon {
  position: absolute;
  top: 35px;
  right: 10px;
  display: block;
  height: 10px;
  width: 18px;
  opacity: 0.2;
  background: transparent url("../img/arrow.faq.png") 0 0 no-repeat;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.faq__content {
  display: none;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.faq__content ul,
.faq__content ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}
.faq__content ul li,
.faq__content ol li {
  padding-left: 5px;
}
.faq__content ul {
  list-style-image: none;
}
.faq__content ul li {
  display: list-item;
  position: relative;
}
.faq__content ul li:before {
  position: absolute;
  top: 9px;
  left: -13px;
  content: '';
  display: inline-block;
  height: 4px;
  width: 4px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 54px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(126,113,101,0.5);
}
.faq__content p {
  margin: 0 0 10px 0;
}
.faq__content img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
}
.blog-page h1 {
  margin-bottom: 0px;
}
.blog__line {
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}
.blog__line:after {
  position: absolute;
  left: 6px;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  border-top: 1px solid rgba(126,113,101,0.2);
  margin-left: 5px;
}
.blog__line .grid_8 {
  position: relative;
  height: 270px;
}
.blog__img {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2);
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.blog__img img {
  display: block;
  height: auto;
  width: 100%;
}
.blog__title {
  font-size: 24px;
  line-height: 32px;
  font-family: FS-medium;
  font-weight: normal;
  margin: 0 0 15px 0;
}
.blog__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 15px 0;
}
.blog__more {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  height: 30px;
  width: 160px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.3) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.3) inset;
}
.blog__more:hover {
  color: #fff;
  background-color: rgba(126,113,101,0.3);
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.3);
  box-shadow: 0 0 0 1px rgba(126,113,101,0.3);
}
.blog__more:active,
.blog__more:focus {
  color: #fff;
  background-color: rgba(126,113,101,0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blog__pagination {
  margin-top: 40px;
  text-align: center;
}
.blog__prev,
.blog__next {
  opacity: 0.5;
  margin: 0 30px;
}
.blog__prev:hover,
.blog__next:hover {
  color: #7e7165;
  opacity: 1;
}
.blog__page-num {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 3px;
  text-align: center;
  line-height: 32px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.blog__page-num:hover {
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(178,170,163,0.5);
}
.blog__page-num.current {
  color: #fff;
  cursor: default;
  background-color: rgba(178,170,163,0.5);
}
.article-page main h1 {
  font-size: 24px;
  line-height: 32px;
  font-family: FS-medium;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
}
.article-page main p {
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 28px;
}
.article-page main img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.img__float--left {
  float: left;
  margin-right: 24px;
}
.img__float--right {
  float: right;
  margin-left: 24px;
}
.delivery p {
  margin: 0 0 15px 0;
}
.delivery a {
  color: #8dbc55;
}
.delivery__note {
  font-size: 24px;
  line-height: 32px;
}
.delivery__table {
  margin: 30px 0;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid rgba(126,113,101,0.2);
  overflow: hidden;
}
.delivery__table td,
.delivery__table th {
  padding: 15px 20px;
}
.delivery__table td + td {
  border-left: 1px solid rgba(126,113,101,0.2);
}
.delivery__table tr + tr {
  border-top: 1px solid rgba(126,113,101,0.2);
}
.delivery__table th {
  font-family: FS-medium;
  font-weight: normal;
  border-bottom: 1px solid rgba(126,113,101,0.2);
}
.delivery__table th + th {
  border-left: 1px solid rgba(126,113,101,0.2);
}
.delivery__table p {
  margin: 0;
  line-height: 24px;
}
.price__table th,
.price__table td {
  text-align: center;
}
.price__table th:first-child,
.price__table td:first-child {
  text-align: left;
}
.contact {
  margin-top: -15px;
}
.contact a {
  color: #8dbc55;
}
.contact__note {
  font-size: 24px;
  line-height: 32px;
}
.contact__form {
  width: 456px;
  margin-bottom: 50px;
}
.contact__form input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.contact__form input:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
}
.contact__form .contact__half {
  display: block;
  float: left;
  width: 216px;
  margin-left: 24px;
}
.contact__form .contact__half.first-in-line {
  margin-left: 0;
}
.contact__form textarea {
  padding: 15px 20px;
  height: 120px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  resize: none;
  margin-bottom: 20px;
}
.contact__form textarea:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
}
.contact__form button {
  color: #fff;
  font-size: 18px;
  font-family: FS-medium;
  text-transform: uppercase;
  height: 50px;
  line-height: 54px;
  width: 100%;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  background-color: #8dbc55;
}
.contact__form button:hover {
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 2px #74af2d;
}
.contact__form button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contact__form .input__error {
  border: 1px solid #ff4545;
}
.contact__soc--vk {
  height: 71px;
  width: 175px;
  padding-left: 140px;
  display: inline-block;
  vertical-align: middle;
  background: transparent url("../img/vk.png") 0 0 no-repeat;
}
.contact__soc--vk a {
  display: block;
  color: #7e7165;
  font-size: 10px;
  line-height: 1;
  margin-bottom: 10px;
}
.contact__soc--vk a:hover {
  color: #8dbc55;
}
.contact__soc--fb-pin {
  vertical-align: middle;
  display: inline-block;
}
.contact__soc--fb-pin a {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contact__soc--fb-pin a:hover {
  opacity: 0.7;
}
.contact__phones {
  padding-top: 10px;
}
.contact__phones__col {
  width: 49.5%;
  display: inline-block;
}
.contact__phones__col p {
  font-size: 24px;
  line-height: 32px;
  font-family: FS-medium;
  margin: 0;
}
.contact__schedule {
  -webkit-box-shadow: 0 0 0 10px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 10px rgba(126,113,101,0.2) inset;
  padding: 25px 30px;
}
.contact__schedule p {
  margin: 0 0 7px 0;
  font-size: 18px;
  line-height: 24px;
}
.contact__schedule p strong {
  font-size: 24px;
  line-height: 32px;
}
.contact__schedule .contact__time {
  color: #8dbc55;
  margin-top: -7px;
  font-family: FS-bold;
}
.checkout__form {
  margin-bottom: 50px;
}
.checkout__form input {
  height: 50px;
  width: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid rgba(126,113,101,0.2);
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  outline: none;
}
.checkout__form input:focus {
  border: 1px solid rgba(126,113,101,0.5);
}
.checkout__form .checkout__1-3 {
  margin-left: 24px;
  display: block;
  float: left;
  width: 216px;
}
.checkout__form .checkout__1-3.first-in-line {
  margin-left: 0;
}
.checkout__form .country__select {
  margin-left: 24px;
  margin-bottom: 20px;
}
.checkout__form .delivery__select {
  float: left;
  margin-left: 24px;
  margin-bottom: 20px;
}
.checkout__form .checkout__2-3 {
  display: block;
  width: 456px;
  float: left;
  margin-right: 24px;
}
.checkout__form textarea {
  padding: 15px 20px;
  height: 120px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.2) inset;
  resize: none;
  margin-bottom: 20px;
}
.checkout__form textarea:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
  box-shadow: 0 0 0 1px rgba(126,113,101,0.5) inset;
}
.checkout__form button {
  color: #fff;
  font-size: 18px;
  font-family: FS-medium;
  text-transform: uppercase;
  height: 50px;
  line-height: 54px;
  width: 100%;
  margin-top: 10px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  background-color: #8dbc55;
}
.checkout__form button:hover {
  background-color: #74af2d;
  -webkit-box-shadow: 0 0 0 2px #74af2d;
  box-shadow: 0 0 0 2px #74af2d;
}
.checkout__form button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.checkout__form .input__error {
  border: 1px solid #ff4545;
}
.checkout__error {
  float: right;
  width: 216px;
  color: #ff4545;
}
#storage[disabled] {
  opacity: 0.5;
  background-color: transparent;
}
.select2-container .select2-selection {
  height: 50px;
  line-height: 50px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: #7e7165;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 50px;
}
.select2-container--default .select2-results .select2-results__options {
  max-height: 400px;
}
.select2-container--default .select2-selection--single {
  border: 1px solid rgba(126,113,101,0.3);
  outline: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  width: 55px;
  border-left: 1px solid rgba(126,113,101,0.2);
}
.select2-container--default .select2-results__option,
.select2-container--default .select2-results__option--highlighted {
  display: block;
  line-height: 50px;
  padding-left: 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #8dbc55;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  color: #7e7165;
  background-color: transparent;
}
.select2-container--default .select2-results__option[aria-selected="true"]:hover {
  color: #fff;
  background-color: #8dbc55;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -5px;
  height: 10px;
  width: 16px;
  border: none;
  opacity: 0.5;
  background: transparent url("../img/arrow.select.png") 0 0 no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.select2-container--default .select2-selection--single:hover b {
  opacity: 1;
}
.select2-dropdown {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.select2-search {
  display: none;
}
.select2-container--open .select2-dropdown--below {
  border: 1px solid rgba(126,113,101,0.3);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.select2-container--open .select2-dropdown--above {
  border: 1px solid rgba(126,113,101,0.3);
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.15);
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.15);
}
.select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.select2-container--open.select2-container--below {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
}
.select2-container--open.select2-container--above {
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.15);
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.15);
  -webkit-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
}
.cart-page .select2-container {
  color: #7e7165;
}
.cart-page .select2-container .select2-selection {
  height: 30px;
  line-height: 30px;
}
.cart-page .select2-container .select2-selection--single .select2-selection__rendered {
  color: #7e7165;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
  padding-left: 0;
  padding-right: 35px;
}
.cart-page .select2-container .select2-selection__placeholder {
  color: rgba(126,113,101,0.5);
}
.cart-page .select2-container--default .select2-selection--single {
  border: none;
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.cart-page .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  width: 35px;
  border-left: none;
}
.cart-page .select2-container--default .select2-results__option,
.cart-page .select2-container--default .select2-results__option--highlighted {
  display: block;
  line-height: 30px;
  padding-left: 10px;
}
.cart-page .select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: 0;
  height: 6px;
  width: 10px;
  border: none;
  opacity: 1;
  background: transparent url("../img/arrow.select.small.png") 0 0 no-repeat;
  -webkit-transition: transform 0.3s, opacity 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s;
  -ms-transition: transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.cart-page .select2-container--default .select2-selection--single:hover b {
  opacity: 0.5;
}
.cart-page .select2-dropdown {
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-left: -10px;
  border: none;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
}
.cart-page .select2-container--open .select2-dropdown--below {
  border: none;
  margin-top: 10px;
}
.cart-page .select2-container--open .select2-dropdown--above {
  margin-top: -10px;
}
.cart-page .select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.cart-page .select2-container--open.select2-container--below {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cart-page .select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
}
.cart-page .select2-container--open.select2-container--above {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cart-page .select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
}
footer {
  height: 220px;
  margin-top: 100px;
  padding-top: 50px;
  background-color: #574e46;
}
.search--footer {
  position: relative;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.search--footer__icon {
  position: absolute;
  top: 10px;
  left: 8px;
  height: 20px;
  width: 23px;
  background: transparent url("../img/ico.search.png") 3px 2px no-repeat;
}
.search--footer__line {
  position: relative;
  width: 250px;
  height: 40px;
  padding-left: 20px;
  padding-right: 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.1) inset;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1) inset;
}
.search--footer__input {
  border: none;
  margin-left: 20px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: rgba(255,255,255,0.6);
  background-color: transparent;
  font-family: FS-regular;
  font-size: 14px;
  outline: none;
}
.search--footer__submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  font-family: FS-regular;
  cursor: pointer;
  background-color: #72675b;
  border: none;
}
.search--footer__submit:hover {
  opacity: 0.8;
}
.phones--footer {
  margin-top: 5px;
  margin-bottom: 18px;
}
.phones--footer .phone {
  color: #fff;
  opacity: 0.6;
  margin: 5px 0;
}
.footer-links {
  font-size: 12px;
  font-family: FS-regular;
}
.footer-links a {
  color: rgba(255,255,255,0.6);
}
.footer-links a:hover {
  color: #8dbc55;
}
.footer-links span {
  color: #fff;
  opacity: 0.3;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-email {
  overflow: hidden;
  display: block;
  margin-bottom: 25px;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  line-height: 18px;
  font-family: FS-regular;
  min-height: 38px;
  background: transparent url("../img/ico.envelope.png") 0 0 no-repeat;
  padding-left: 66px;
  padding-top: 2px;
}
.footer-email:hover {
  background-position: 0 -43px;
}
.footer-soc {
  display: inline-block;
  text-align: justify;
  line-height: 0;
}
.footer-soc:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.footer-vk {
  height: 47px;
  margin-bottom: 25px;
  padding-left: 100px;
  background: transparent url("../img/ico.vk.png") 0 0 no-repeat;
}
.footer-vk a {
  display: block;
  margin: 0;
  color: rgba(255,255,255,0.6);
  font-size: 10px;
  line-height: 16px;
}
.footer-vk a:hover {
  color: #8dbc55;
}
.ico-soc {
  display: inline-block;
  height: 45px;
  opacity: 0.6;
}
.ico-soc:hover {
  opacity: 1;
}
.ico-fb {
  width: 18px;
  background: transparent url("../img/ico.fb.png") 0 top no-repeat;
}
.ico-fb:hover {
  background-position: -20px top;
}
.ico-instagram {
  width: 28px;
  background: transparent url("../img/ico.instagram.png") 0 center no-repeat;
}
.ico-instagram:hover {
  background-position: -29px center;
}
.ico-pinterest {
  width: 30px;
  background: transparent url("../img/ico.pinterest.png") 0 bottom no-repeat;
}
.ico-pinterest:hover {
  background-position: -31px bottom;
}
.footer-partners li {
  margin-bottom: 25px;
  font-family: FS-regular;
}
.footer-partners a {
  color: rgba(255,255,255,0.7);
}
.footer-partners a:hover {
  color: #8dbc55;
}
.footer-partner__img {
  float: left;
}
.footer-partner__name {
  margin: 5px 0 0 70px;
  font-size: 18px;
}
.footer-partner__description {
  margin: 0 0 0 70px;
  font-size: 14px;
}
.footer-partners__title {
  margin: 0 0 25px 0;
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@font-face{
	font-family: ariston;
	src: url(fonts/ariston/ariston-webfont.woff);
	font-size:16px;
	color:black;
}
@font-face{
	font-family: davinci;
	src: url(fonts/davinci/davinci-webfont.woff);
	font-size:16px;
	color:black;
}
@font-face{
	font-family: brody;
	src: url(fonts/brody/jabgndg5-webfont.woff);
	font-size:16px;
	color:black;
}
